body{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:10px;
}
#main{
    margin:20px;
    width:1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
h1,h2,p{
    color: white;
}
#search{
    width:800px;
}
.avatar{
    border-radius:100%;
    height: 300px;
    width:300px;
    border:10px solid red;
}
.repos{
    color:white;
}
a{
    font-style: bold;
}
a:link{
    color:red;
}
a:visited{
    color:blue;
}